* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
   background: chartreuse;     
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    margin-top: 1.3rem;
}

.controls {
    margin-top: 1.3rem;
}

.controls  button {
    background: #000;
    color: chartreuse;
    border: none;    
    border-radius: .2rem;

    padding: .4rem;
    margin-left: .3rem;

    cursor: pointer;

    transition: (1s);
}

.controls  button:hover {
   filter: brightness(2);
}

.footer {
    height: 2rem;
    text-align: center;
    background: #000;
    color: #fff;   
}